# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 29a4be37c09c04a4636edfe1124006fef1d2338dd43bee17cef5086a36ad499a9a21572d1f1b7d4fa9f308ee98d247953ee287b833ddb1d518bab021538f4523

test:
  secret_key_base: 0e3adac482afb492698a584e925a22e1f79ab97951f8967965209e030d84677ff3d2a0c02ff261903bde24805d6799c2857c145bbca9bb5b301b72dd271d609f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  sendgrid:
    username: 'my_sendgrid_username'
    password: 'my_sendgrid_password'
