.nav-inner.menu-editor {
  display: block;
  float: left;
  width: 200px;
}

.edit[edit-tumbler-role-done] {
  position: absolute;
  right: 10px;
  top: 20px;
  opacity: 0.5;

  &:hover {
    opacity: 0.75;
  }
}


.menu-editor {
  position: relative;

  .clear {
    clear: both;
  }

  li.me-item  {
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .me-btn {
    width: 12px;
    height: 14px;
    cursor: pointer;
  }

  .items {
    position: relative;
  }

  .search {
    position: absolute;
    right: 0;
    top: 0;
  }

  .me-item, .me-item, .me-form {
    position: relative;

  }

  .me-form .no-results {
    color: red;
    font-size: 10px;
    margin-top: 5px;
  }

  .me-form {
    margin-top: 10px;
    display: inline-block;
    .search {
      left: 144px;
      top: 4px;
    }
    &:first-child {
      margin-top: 0px;
    }
  }

  .destroy {
    margin-left: 10px;
  }

  .search, input, .destroy {
    display: none;
  }

  &.editable {
    .search, input {
      display: block;
    }
    .destroy  {
      display: inline;
    }
  }

  &.readonly {
    .search, input, .destroy {
      display: none;
    }
  }

  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  ol.example li.placeholder {
    position: relative;
    /** More li styles **/
  }
  ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
  }

}