.menu-editor {
  position: relative;

  .clear {
    clear: both;
  }

  .me-root-item li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .me-btn {
    width: 12px;
    height: 14px;
    cursor: pointer;
  }

  .items {
    position: relative;
  }

  .search {
    position: absolute;
    right: 0;
    top: 0;
  }

  .me-item, .me-root-item, .me-form {
    position: relative;

  }

  .me-form .no-results {
    color: red;
  }

  .me-root-item {
    display: block;
    float: left;
    width: 200px;
  }

  .me-form {
    display: inline-block;
    .search {
      left: 144px;
      top: 4px;
    }
  }

  .destroy {
    margin-left: 10px;
  }

  .edit {
    position: absolute;
    right: 10px;
    top: -15px;
    opacity: 0.5;

    &:hover {
      opacity: 0.75;
    }
  }

  .search, input, .destroy {
    display: none;
  }

  &.editable {
    .edit {
      opacity: 1;
    }
    .search, input {
      display: block;
    }
    .destroy  {
      display: inline;
    }
  }

  &.readonly {
    .edit, .search, input, .destroy {
      display: none;
    }
  }

  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  ol.example li.placeholder {
    position: relative;
    /** More li styles **/
  }
  ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
  }

}